// Variables
$primary-background: #262626;
$primary-color: #ff004f;
$secondary-color: #2a2a2a;
$white-color: #fff;

@import "global.scss";
@import "header.scss";
@import "about.scss";
@import "services.scss";
@import "portfolio.scss";
@import "button.scss";
@import "elechtronic.scss";
@import "webDesign.scss";
@import "3Ddesign.scss";